@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
    color: black;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}
li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--dblue {
    color: dodgerblue;
}

section:nth-child(even) {
    background-color: #f8f8f8dd;
}

.section__title {
    margin-bottom: 20px;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.nav__link--anchor-primary {
    color: white;
    background-color: blue;
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 500ms ease;

}

.nav__link--anchor-primary:hover {
    background-color: dodgerblue;
}

.personal__logo {
    font-size: 24px;
    color: dodgerblue;
    margin: 0 12px;
    font-weight: bold;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.aboutme__info {
    display: flex;
    flex-direction: column;
}

.aboutme__info--container {
display: flex;
flex-direction: column;
align-items: center;
max-width: 600px;
margin: 0 auto;
text-align: center;
}

.aboutme__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.aboutme__picture {
    width: 100%;

    /* improving picture */
    transform: scale(1.5);
}

.aboutme__info--title {
    margin-bottom: 16px;
}

.aboutme__info--para {
    font-size: 20px;
    margin-bottom: 28px;
}

.aboutme__links {
    margin-top: 16px;
}

.aboutme__link {
    font-size: 20px;
    color: dodgerblue;
    text-decoration: none;
    padding: 0 16px;
}

.aboutme__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 32px;

}

.aboutme__img {
    width: 100%;
}

/* Languages */

.language__img--wrapper {
    display: flex;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
    /* transition: all 300ms ease; */
}

.language__img {
    width: 100%;
    max-width: 100px;
    padding: 8px;
    margin: 2px;
    transition:all 300ms ease;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language__list {
    display: flex;
    flex-wrap: wrap;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 20px;
    opacity: 0;

}

.language:hover .language__name{
    transform: scale(1);
    opacity: 1;
}